.thumbnail-image {
  width: 120px;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .thumbnail-image {
    width: 160px;
  }
}
@media screen and (min-width: 992px) {
  .thumbnail-image {
    width: 200px;
  }
}

button {
  background-color: transparent;
  border: none;
}
